/* RESET */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  border: 5px solid green;  /*To-Be-Deleted (TBD)*/
  height: 100vh;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  font-family: 'Comic Sans MS', Times, sans-serif;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* STYLES */

#title {
  text-align: center;
  padding: 20px;
  border: 1px solid red;  /*TBD*/
}

#title-text {
  font-size: 40px;
  padding: 8px;
  border: 1px solid rgb(219, 219, 219);  /*TBD*/
  border-radius: 5px;
  box-shadow: 0 0 10px 2px rgb(205, 239, 250);
}

#grid-container {
  border: 3px solid black;  /*TBD*/
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#grid {
  border: 3px solid pink;  /*TBD*/
  height: 75%;
  width: 75%;
}